html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #111;
  color: white;
  font-display: optional;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

h1, h2, h3, html, body, a, p, div, section {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.site-container {
  max-width: 768px;
  margin: auto;
}
