/*Header*/
.site-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-profile_image {
    margin-top: 5px;
}

.header-profile_info {
    max-width: 70%;
}

.header-title {
    font-size: 3rem;
}

.header-subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.header-blurb {
    color: #999
}




/*Project Cards*/

.project-1, .project-2, .project-3 {

    padding: 4px;
    border-radius: 10px;
    width: 250px
}

.background {
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    padding: 1em;
    height: 200px;
  }

.projects-container {
    display: flex;
    justify-content: space-between;

}
.project-1 {
    background-image: linear-gradient(to right,#fde68a,#fca5a5,#fecaca);
}

.project-2 {
    background-image: linear-gradient(to right,#00d5ff,#00f798,#0d00c7,#8a24c9);
}

.project-3 {
    background-image: linear-gradient(to right,#d8a7d5,#7551d9);

}

/*Github plug*/

/*Footer*/

